.formRow {
    padding: 4rem;
    width: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in;
}

.formRow:hover {
    transform: scale(104%);
    background-color: rgba(0, 0, 0, 0.1);
}
