.inputBox {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

.inputBox input {
    height: 4rem;
    width: 24rem;
    padding: 0 1rem 0 1rem;
    color: var(--text-default);
    background-color: transparent;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    border: none;
    border: 0.2rem solid transparent;
    border-bottom: 0.2rem solid var(--primary);
    transition: all 0.1s ease-in-out;
}

.inputBox input::placeholder {
    color: var(--gray-500);
    font-size: 1.6rem;
    font-style: italic;
}

.inputBox input:focus {
    outline: none;
    border-radius: 0.8rem;
    border: 0.2rem solid var(--primary);
}

.inputBox input:disabled {
    border-bottom: 0.2rem solid var(--disabled);
    color: var(--text-muted);
}

.inputBox label {
    font-weight: bold;
    font-size: 3rem;
}