.actionButton {
    border-radius: 2.4rem;
    border: none;
    padding: 1.2rem 0;
    transition: all 0.4s ease-in-out;
}

.actionButton:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.actionButton svg {
    color: var(--text-over-primary);
    width: 3rem;
    height: 3rem;
}

.actionButton {
    min-width: 30rem;
}

.actionButton {
    border-radius: 4rem;
}

.play {
    background-color: var(--primary);
}

.dispatch {
    background-color: var(--danger);
}