.stageIconDiv {
    position: relative;
    width: 4rem;
    height: 4rem;
}

.stageIconDiv * {
    position: absolute;
    width: 100%;
    height: 100%;
}

.doneStageIcon {
    opacity: 32%;  
    width: 60%;
    height: 60%;
    transition: all 0.6s ease-in;
}